@model FixAssetManagement.Models.Employee


@{
    ViewData["Title"] = Model == null? "Create" : "Edit";
}

<h1>@ViewData["Title"] Employee</h1>


<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="@ViewData["Title"]" enctype="multipart/form-data">
            <div asp-validation-summary"ModelOnly" class="text-danger"></div>

            @*<div class="form-group">
                <label asp-for="EmployeeId" class="control-label"></label>
                <input asp-for="EmployeeId" class="form-control" readonly/>
                <span asp-validation-for="EmployeeId" class="text-danger"></span>
            </div>*@

            <div class="form-group">
                <label asp-for="YearOfPurchase" class="control-label"></label>
                <input asp-for="YearOfPurchase" class="form-control" />
                <span asp-validation-for="YearOfPurchase" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="HistoricalCost" class="control-label"></label>
                <input asp-for="HistoricalCost" class="form-control" />
                <span asp-validation-for="HistoricalCost" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PurchaseOrder" class="control-label"></label>
                <input asp-for="PurchaseOrder" class="form-control" />
                <span asp-validation-for="PurchaseOrder" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Specification" class="control-label"></label>
                <textarea asp-for="Specification" class="form-control"></textarea>
                <span asp-validation-for="Specification" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Rate" class="control-label"></label>
                <input asp-for="Rate" class="form-control"/>
                <span asp-validation-for="Rate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AccumulatedBalance" class="control-label"></label>
                <input asp-for="AccumulatedBalance" class="form-control"/>
                <span asp-validation-for="AccumulatedBalance" class="text-danger"></span>
            </div>


           @* <div class="form-group">
                <label asp-for="EmployeeName" class="control-label"></label>
                <input asp-for="EmployeeName" class="form-control" />
                <span asp-validation-for="EmployeeName" class="text-danger"></span>
            </div>*@

           



            <div class="form-group">
                <label asp-for="ImageUser" class="control-label"></label>
                <input type="file" asp-for="ImageUser" class="form-control" />
                <span asp-validation-for="ImageUser" class="text-danger"></span>
            </div>


            <script>
                function changeStatus()
                {
                    var status = document.getElementById("balanceStatus");

                    if(status.value == "S")
                    {
                        document.getElementById("desbalance").style.visibility="hidden";
                    }
                    else{
                        document.getElementById("desbalance").style.visibility="visible";
                    }
                }

                //calculate depriciation value

                function depriciation()
                {
                    //var depresult = (mainValue - 0)/year;
                    var mainValue = window.prompt("Enter Main Value: ");
                    var per = window.prompt("Enter Percent: ");

                    mainValue = parseFloat(mainValue);
                    per = parseFloat(per);

                    const result=(mainValue*per)/100;

                    alert("For Depriciation Result"+" "+ result +" "+ "/per year");
                }

                //Static Value

                function staticvalue()
                {
                    //var depresult = (mainValue - 0)/year;
                    var MainValue = window.prompt("Enter Main Value: ");
                    var Year = window.prompt("Enter Year: ");

                    MainValue = parseFloat(MainValue);
                    Year = parseInt(Year);

                    const result=(MainValue-0)/Year;

                    alert(For Depriciation Result"+" "+ result +" "+ "/per year");
                }

            </script>

            <div class="form-group mt-5 mb-3">
                <label for="Balance" name="Balance">Balance</label>
                <select class="form-control mt-4" id="balanceStatus" onchange="changeStatus()">
                    
                    <option value="S">None</option>
                    <option onclick="depriciation()" value="D">Depriciation</option>
                    <option onclick="staticvalue()" value="T">Static</option>
                </select>

                <div class="mt-4" id="desbalance">
                    <input type="text" name="desbalance" class="form-control" placeholder="Submit Your Value" />
                    
                </div>

            </div>

            @*<div class="form-group">
                <label asp-for="BirthDate" class="control-label"></label>
                <input asp-for="BirthDate" class="form-control" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Salary" class="control-label"></label>
                <input asp-for="Salary" class="form-control" />
                <span asp-validation-for="Salary" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="HiringDate" class="control-label"></label>
                <input asp-for="HiringDate" class="form-control" />
                <span asp-validation-for="HiringDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="NationalId" class="control-label"></label>
                <input asp-for="NationalId" class="form-control" />
                <span asp-validation-for="NationalId" class="text-danger"></span>
            </div>*@

            <div class="form-group">
                <label asp-for="DepartmentId" class="control-label"></label>
                <select asp-for="DepartmentId" class="form-control"
                        asp-items="@(new SelectList(ViewBag.Departments,"DepartmentId","DepartmentName"))">
                        <option value="">Select Department...</option>
                </select>
                <span asp-validation-for="DepartmentId" class="text-danger"></span>
            </div>

            <div class="form-group"> 
                
                
                <input type="submit" value="Create" class="btn btn-primary mt-4" />
            </div>
        </form>
    </div>


</div>